TDBEasyDemo/Intermediate/
bin/
Untitled Project.*
TDBEasyDemo/TDBEasyDemo.opensdf
TDBEasyDemo/TDBEasyDemo.sdf
TDBEasyDemo/TDBEasyDemo.sln
TDBEasyDemo/TDBEasyDemo.vcxproj
TDBEasyDemo/ipch/tdbeasydemo-8c1d1777/tdbeasydemo-2d2cb7de.ipch
TDBEasyDemo/ipch/tdbeasydemo-8c1d1777/tdbeasydemo-c2d3e518.ipch
TDBEasyDemo/log/
